<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
  <display-name>BankManagerSystem</display-name>
  <welcome-file-list>
    <welcome-file>home.jsp</welcome-file>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <listener>
    <listener-class>info.yzf.service.ServiceListener</listener-class>
  </listener>
  <filter>
    <filter-name>EncodingFilter</filter-name>
    <filter-class>info.yzf.service.EncodingFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>EncodingFilter</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>
  <filter>
    <filter-name>RoleFilter</filter-name>
    <filter-class>info.yzf.service.RoleFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>RoleFilter</filter-name>
    <url-pattern>/changePassword.jsp</url-pattern>
  </filter-mapping>
  <filter-mapping>
    <filter-name>RoleFilter</filter-name>
    <url-pattern>/closeAccount.jsp</url-pattern>
  </filter-mapping>
  <filter-mapping>
    <filter-name>RoleFilter</filter-name>
    <url-pattern>/createAccount.jsp</url-pattern>
  </filter-mapping>
  <filter-mapping>
    <filter-name>RoleFilter</filter-name>
    <url-pattern>/deposit.jsp</url-pattern>
  </filter-mapping>
  <filter-mapping>
    <filter-name>RoleFilter</filter-name>
    <url-pattern>/enterprise.jsp</url-pattern>
  </filter-mapping>
  <filter-mapping>
    <filter-name>RoleFilter</filter-name>
    <url-pattern>/home.jsp</url-pattern>
  </filter-mapping>
  <filter-mapping>
    <filter-name>RoleFilter</filter-name>
    <url-pattern>/query.jsp</url-pattern>
  </filter-mapping>
  <filter-mapping>
    <filter-name>RoleFilter</filter-name>
    <url-pattern>/result.jsp</url-pattern>
  </filter-mapping>
  <filter-mapping>
    <filter-name>RoleFilter</filter-name>
    <url-pattern>/transfer.jsp</url-pattern>
  </filter-mapping>
  <filter-mapping>
    <filter-name>RoleFilter</filter-name>
    <url-pattern>/withdrawal.jsp</url-pattern>
  </filter-mapping>
  <filter-mapping>
    <filter-name>RoleFilter</filter-name>
    <url-pattern>/journal.jsp</url-pattern>
  </filter-mapping>
  <filter-mapping>
    <filter-name>RoleFilter</filter-name>
    <url-pattern>/setting.jsp</url-pattern>
  </filter-mapping>
  <filter-mapping>
    <filter-name>RoleFilter</filter-name>
    <url-pattern>/admin.jsp</url-pattern>
  </filter-mapping>
  
  
  <servlet>
    <servlet-name>SerialDB</servlet-name>
    <servlet-class>info.yzf.service.controller.SerialDBAction</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SerialDB</servlet-name>
    <url-pattern>/SerialDB.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Login</servlet-name>
    <servlet-class>info.yzf.service.controller.LoginAction</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Login</servlet-name>
    <url-pattern>/Login.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Logout</servlet-name>
    <servlet-class>info.yzf.service.controller.LogoutAction</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Logout</servlet-name>
    <url-pattern>/Logout.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>VIP</servlet-name>
    <servlet-class>info.yzf.service.controller.VIPAction</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>VIP</servlet-name>
    <url-pattern>/VIP.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>CreateAccount</servlet-name>
    <servlet-class>info.yzf.service.controller.CreateAccountAction</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CreateAccount</servlet-name>
    <url-pattern>/CreateAccount.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Deposit</servlet-name>
    <servlet-class>info.yzf.service.controller.DepositAction</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Deposit</servlet-name>
    <url-pattern>/Deposit.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Withdrawal</servlet-name>
    <servlet-class>info.yzf.service.controller.WithdrawalAction</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Withdrawal</servlet-name>
    <url-pattern>/Withdrawal.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Query</servlet-name>
    <servlet-class>info.yzf.service.controller.QueryAction</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Query</servlet-name>
    <url-pattern>/Query.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Transfer</servlet-name>
    <servlet-class>info.yzf.service.controller.TransferAction</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Transfer</servlet-name>
    <url-pattern>/Transfer.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ChangePassword</servlet-name>
    <servlet-class>info.yzf.service.controller.ChangePasswordAction</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ChangePassword</servlet-name>
    <url-pattern>/ChangePassword.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>CloseAccount</servlet-name>
    <servlet-class>info.yzf.service.controller.CloseAccountAction</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CloseAccount</servlet-name>
    <url-pattern>/CloseAccount.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>AddOperator</servlet-name>
    <servlet-class>info.yzf.service.controller.AddOperatorAction</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddOperator</servlet-name>
    <url-pattern>/AddOperator.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Admin</servlet-name>
    <servlet-class>info.yzf.service.controller.AdminAction</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Admin</servlet-name>
    <url-pattern>/Admin.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Log</servlet-name>
    <servlet-class>info.yzf.service.controller.LogAction</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Log</servlet-name>
    <url-pattern>/Log.do</url-pattern>
  </servlet-mapping>
</web-app>